img{
    // max-height: 250px;
}
.card:hover{
    transform: scale(1.1);
  
  }


.card{
    margin: 5px;
    // width: 20rem;
    // max-width: 70%;
    // border: 2px solid red;
    transition: transform ease-in-out 500ms;
  }