<div class="card border-success-subtle">
    <div class="">
      <img src="../assets/adam-kool-ndN00KmbJ1c-unsplash.jpg" alt="Image Description" class="img-fluid">
    </div>
    <div class="card-body">
      <h3 class="card-title fs-5">{{tourObject.name}}</h3>
      <div class="d-flex justify-content-between">
        <p> {{tourObject.price}} </p>
        <span class="ms-5">★★★★★ (101)</span>
      </div>
      <button class="btn btn-success" (click)="knowMore()">Know more</button>
    </div>
</div>
