<div class="card col-sm m-2 p-0" >
    <img src="../assets/robert-lukeman-_RBcxo9AU-U-unsplash.jpg" alt="Image Description" class=" img-fluid">
    <div class="card-body">
      <h3 class="card-title fs-5">Location Name 1</h3>
      <p> ₹1000 per night  <span class="ms-5"></span> <span class="ms-5">★★★★★ (101)</span></p>
      <button class="btn btn-success" (click)="knowMore()">Know more</button>
    </div>
</div>



      <!-- <div class="card col-sm m-2 p-0" >
        <img src="../assets/robert-lukeman-_RBcxo9AU-U-unsplash.jpg" alt="Image Description" class=" img-fluid">
        <div class="card-body">
          <h3 class="card-title fs-5">Location Name 1</h3>
          <p> ₹1000 per night  <span class="ms-5"></span> <span class="ms-5">★★★★★ (101)</span></p>
          <button class="btn btn-success">Know more</button>

        </div>
      </div>

      <div class="card col-sm m-2 p-0">
        <img src="../assets/v2osk-1Z2niiBPg5A-unsplash.jpg" alt="Image Description" class="img-fluid">

        <div class="card-body">

          <h3 class="card-title fs-5">Location Name 2</h3>
          <p > ₹1500 per night  <span class="ms-5"></span> <span class="ms-5">★★★★ (209)</span></p>
          <button class="btn btn-success">Know more</button>


        </div>
      </div>

      <div class="card col-sm m-2 p-0">
        <img src="../assets/david-marcu-78A265wPiO4-unsplash.jpg" alt="Image Description" class="img-fluid">
        <div class="card-body pb-3">
          <h3 class="card-title fs-5">Location Name 3</h3>
          <p class=""> ₹1200 per night <span class="ms-5"></span> <span class="ms-5"> ★★★★★ (200)</span></p>
          <button class="btn btn-success mx-auto">Know more</button>
        </div>

      </div> -->