
<div class="navbar">
  <div class="logo d-flex gap-2">
    <img src="../assets/logo.jpeg" alt="Company Logo">
    <h3 class="">MyTravelSite</h3>

  </div>
  <div class="nav-links">
    <button mat-button class="nav-button btn ">Packages</button>
    <button mat-button class="nav-button btn ">Treks</button>
    <button mat-button class="nav-button btn " (click)="login();">Login</button>
  </div>
</div>

<!-- app.component.html -->

<div class="home">
  
  <section class="hero">
    
    <div class="hero-content">
      <h1 class="lh-1">My Travel Site</h1>
      <p class="lead">Grab Holiday Deals!</p>
      <button class="btn btn-primary">Learn More</button>
    </div>
  </section>

  <section class="section about-section">
    <div class="subsection">
      <h2>About Our Travel Site</h2>
      <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies gravida justo, vitae varius nisi semper vitae. In sed purus tincidunt, semper purus ac, finibus justo. Morbi consequat cursus ante, ac blandit felis eleifend ac. Proin commodo, metus vitae iaculis suscipit, lacus turpis tristique tortor, sed tincidunt arcu metus eget elit.</p>
    </div>

    <div class="subsection ">
      <img src="../assets/adam-kool-ndN00KmbJ1c-unsplash.jpg" alt="Image Description" id="about-img">
    </div>
  </section>

  <section class="section">
    <h2 class="text-center mb-3 fs-1">Tours & Packages</h2>
    <div class="accommodations">
      <div class="card">
        <img src="../assets/robert-lukeman-_RBcxo9AU-U-unsplash.jpg" alt="Image Description">
        <div class="card-content">
          <h3>Location Name 1</h3>
          <p> ₹1000 per night  <span class="ms-5"></span> <span class="ms-5">★★★★★ (101)</span></p>
          <button class="btn btn-light">Check Out</button>

        </div>
      </div>

      <div class="card">
        <img src="../assets/v2osk-1Z2niiBPg5A-unsplash.jpg" alt="Image Description">
        <div class="card-content">
          <h3>Location Name 2</h3>
          <p> ₹1500 per night  <span class="ms-5"></span> <span class="ms-5">★★★★ (209)</span></p>
          <button class="btn btn-light">Check Out</button>


        </div>
      </div>

      <div class="card">
        <img src="../assets/david-marcu-78A265wPiO4-unsplash.jpg" alt="Image Description">
        <div class="card-content">
          <h3>Location Name 3</h3>
          <p class=""> ₹1200 per night <span class="ms-5"></span> <span class="ms-5"> ★★★★★ (200)</span></p>
          <button class="btn btn-light mx-auto">Check Out</button>
        </div>

      </div>
    </div>
  </section>

  <section class="section testimonials">
    <div class="testimonials-content">
      <h2>Testimonials</h2>
      <div class="testimonial">
        <div class="testimonial-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies gravida justo, vitae varius nisi semper vitae. In sed purus tincidunt, semper purus ac, finibus justo.</p>
          <p class="user">- John Doe</p>
        </div>
      </div>

      <div class="testimonial">
        <div class="testimonial-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies gravida justo, vitae varius nisi semper vitae. In sed purus tincidunt, semper purus ac, finibus justo.</p>
          <p class="user">- Jane Smith</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="logo rounded-50 d-flex gap-2">
      <img src="../assets/logo.jpeg" alt="" >
      <h3>MyTravelSite</h3>

    </div>
    <div class="contact-info">
      <h4>Contact Information</h4>
      <p>Email: example@example.com</p>
      <p>Phone: 123-456-7890</p>
    </div>

    <div class="social-media">
      <h4>Connect with us</h4>

      <div class="links">
        <a href="#"> <i class="fa-brands fa-facebook"></i></a>
        <a href="#"> <i class="fa-brands fa-twitter"></i></a>
        <a href="#"> <i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>

      </div>


    </div>
  </footer>
</div>

<!-- app.component.html -->


