



// .hero-content {
//   text-align: center;
// }



// .testimonials-content {
//   text-align: center;
// }

// .testimonials-content h2 {
//   font-size: 28px;
// }

// .testimonial {
//   margin-top: 20px;
// }

// .testimonial-content p {
//   margin-bottom: 10px;
// }

// .testimonial-content .user {
//   font-style: italic;
// }

.footer {
}


.contact-info * {
  margin : 0.5em

}

.card .img-fluid{
  width: 100%;
  max-height: 15rem;
}


