
<div class="login-signup">
  <div class="tabs">
    <button class="tab" (click)="toggleTab('login')" [class.active]="activeTab === 'login'">Login</button>
    <button class="tab" (click)="toggleTab('signup')" [class.active]="activeTab === 'signup'">Sign Up</button>
  </div>

  <div class="card" [ngClass]="{ 'show': activeTab === 'login' }">
    <h2>Login</h2>
    <form>
      <label for="username">Username</label>
      <input type="text" id="username" name="username">

      <label for="password">Password</label>
      <input type="password" id="password" name="password">

      <button type="submit">Login</button>
    </form>
  </div>

  <div class="card" [ngClass]="{ 'show': activeTab === 'signup' }">
    <h2>Sign Up</h2>
    <form>
      <label for="email">Email</label>
      <input type="email" id="email" name="email">

      <label for="password">Password</label>
      <input type="password" id="password" name="password">

      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" name="confirm-password">

      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>

