
.login-signup {
  // margin-top: 20px;
  height: 100%;
  border-radius: 5em;

}

.tabs {
  display: flex;
}

.tab {
  background-color: #f2f2f2;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  // margin-right: 10px;
}

.tab.active {
  background-color: #333;
  color: #fff;
}

.card {
  background-color: #f2f2f2;
  padding: 20px;
  // margin-top: 20px;
  display: none;
}

.card.show {
  display: block;
  height: 100%;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 1em;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
